<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Koodoo Compare Automation Suite">

 <listeners>
 	<listener class-name="com.koodoo.utility.SuiteListener"/>
    <listener class-name="com.koodoo.utility.TestListener"/>
    <listener class-name="com.koodoo.utility.AnnotationTransformer"/>
  </listeners>
  
  <test thread-count="5" name="Koodoo Compare Automation">
    <classes>
      <class name="com.koodoo.testcases.LoginTestCRM"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
